*.iml
.gradle
/local.properties

.idea
/.idea/caches
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

emscripten/build/*

*.sw*

.xcbkptlist
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist

xcuserdata
xcschemes
xcschememanagement
